/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ;
}

ul {
  list-style-type: none;
}

.row {
  width: 100%;
}

/* regole di colonna */
[class*="col-"] {}

/* REGOLE DI PAGINA */

/* navbar */

/* sezione customer */
#customer li {
  display: inline-block;
  width: calc((100% / 6) - 4px);
}

#customer li img {
  max-width: 80%;
}

.sfondo-grigio {
  background-color: #f3f5f9;
}

/* sezione Designed for developers */
#for-developers img {
  max-width: 100%;
}
