/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

.row {
  width: 100%;
}

/* regole di colonna */
[class*="col-"] {}

/* REGOLE DI PAGINA */

/* header */

/* navbar uno */
#menu1:after {
  content: "";
  clear: both;
  display: table;
}

.leftcolumn {
  float: left;
}

.leftcolumn span {
  padding-right: 3%;
}
.rightcolumn {
  float: right;
}
.rightcolumn li{
  display: inline-block;
}

/* navbar due */
#menu2:after {
  content: "";
  clear: both;
  display: table;
}

.colonnasx {
  float: left;
}

.colonnasx li {
  display: inline-block;
}

.colonnasx img {
  max-width: 20%;
}

.colonnadx {
  float: right;
}

/* sezione iniziale blu */
.sfondo-decorato {
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  padding-left: 5%;
  padding-right: 5%
}

.stile-blocco {
  color: white;
}

.finestra-bianca {
  background-color: #fff;
  text-align: center;
}

form {
  width: 60%;
}

.bottoni {
  padding-left: 40%;
}

.bottoni::after {
  content: "";
  clear: both;
  display: table;
}

.bottoni a {
  float: left;
  background-color: #d5e4f7;
  padding: 2%;
  border: 1px solid rgba(0,105,255,.2);
  margin-left: 2%;
  margin-right: 2%;
}

/* sezione customer */
#customer {
  text-align: center;
}

#customer li {
  display: inline-block;
  width: calc((100% / 6) - 4px);
}

#customer li img {
  max-width: 80%;
}

.sfondo-grigio {
  background-color: #f3f5f9;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* sezione deploy and scale */
#deploy {
  text-align: center;
}

/* sezione Designed for developers */
#for-developers {
  text-align: center;
}

#for-developers img {
  max-width: 100%;
}

/* sezione Built for business */
#built-for-business {
  text-align: center;
}

/* sezione tabella blu */
#blue-table {
  text-align: center;
}

/* sezione Development teams */
#development-teams {
  text-align: center;
}

.sfondo-bianco {
  background-color: #fff;
}

/* sezione get started now*/
#get-started {
  text-align: center;
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  padding: 3% 0;
}

#get-started h3 {
  color: #fff;
  padding-bottom: 2%;
}

#get-started a {
  background-color: #fff;
  padding: 1%;
}

/* footer */
footer {
  background-color: black;
  padding: 3% 0;
}

footer a {
  color: grey;
}

footer li {
  padding-bottom: 1%;
}

footer li:first-child {
  color: #fff;
}
